.card{
  margin: 2em 0 2em 0;
  width: 50em;
  color: white;
}

.card-text{
  color:white;
}
.sobreCA{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2rem;
}
main{
  margin: 2% 5% 0 5%;
}

.navbar-brand{
  color:green !important;
}
